body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center; 
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: hsla(0, 0%, 49%, 0.677);
}
#buttonContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    border: 10px black;
    box-shadow: 0 4px 8px rgb(64, 64, 64);
}
#myH1{
    margin: 0;
}
#add{
    margin-left: auto;
}
#counter{
    font-size: 6em;
}

.buttons{
    padding: 5px 20px;
    background-color: hsla(209, 100%, 53%, 0.8);
    color: rgba(255, 255, 255, 0.897);
    border: none;
    border-radius: 10px;
    font-size: 2em;
    cursor:pointer;
    transition: background-color 0.25s;
    margin: 0.25rem;
}
.buttons:hover{
    background-color: hsla(209, 96%, 22%, 0.986);    
}
#start{
    margin: 15px auto;
    text-align: center;
    font-size: 1.75em;
    width: 260px;
}
#confirmStart{
    display: none;
    margin: 10px auto;
    width: 260px;
    height: 45px;
    box-sizing: border-box;
}
#startInput {
    font-size: 1em;
    text-align: center;
    width: 65%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
#confirm{
    font-size: 1.5em;
    width: auto;
    height: 100%;
    box-sizing: border-box;
}